.hero-banner {
    background: url('/images/hero-banner.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .hero-content {
    text-align: center;
    width:100%;
  }
  
  .hero-content h1 {
    font-size: 3em;
  }
  
  .hero-content p {
    font-size: 1.2em;
  }
  